main-server/n8n-workflows/WF1-log-analysis-trigger.json
{
  "name": "WF1: 로그 분석 트리거 (5분)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "wf1-node-01",
      "name": "5분 주기 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOG_ANALYZER_URL }}/analyze/trigger",
        "options": {
          "timeout": 270000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "wf1-node-02",
      "name": "로그 분석 실행",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf1-cond-01",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "triggered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf1-node-03",
      "name": "성공 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {},
      "id": "wf1-node-04",
      "name": "정상 종료",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst status = body.status || 'unknown';\nconst errMsg = body.detail || JSON.stringify(body);\n\nreturn [{\n  json: {\n    type: 'message',\n    attachments: [{\n      contentType: 'application/vnd.microsoft.card.adaptive',\n      content: {\n        type: 'AdaptiveCard',\n        version: '1.4',\n        body: [\n          {\n            type: 'TextBlock',\n            text: '⚠️ AOMS 로그 분석 실행 오류',\n            weight: 'Bolder',\n            size: 'Medium',\n            color: 'Attention'\n          },\n          {\n            type: 'FactSet',\n            facts: [\n              { title: '상태', value: status },\n              { title: '오류 내용', value: errMsg },\n              { title: '발생 시각', value: new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'}) }\n            ]\n          }\n        ]\n      }\n    }]\n  }\n}];"
      },
      "id": "wf1-node-05",
      "name": "오류 카드 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "wf1-node-06",
      "name": "오류 Teams 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420]
    }
  ],
  "pinData": {},
  "connections": {
    "5분 주기 트리거": {
      "main": [
        [{"node": "로그 분석 실행", "type": "main", "index": 0}]
      ]
    },
    "로그 분석 실행": {
      "main": [
        [{"node": "성공 여부 확인", "type": "main", "index": 0}]
      ]
    },
    "성공 여부 확인": {
      "main": [
        [{"node": "정상 종료", "type": "main", "index": 0}],
        [{"node": "오류 카드 생성", "type": "main", "index": 0}]
      ]
    },
    "오류 카드 생성": {
      "main": [
        [{"node": "오류 Teams 알림", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "wf1-v1",
  "meta": {
    "instanceId": "local"
  },
  "id": "wf1-log-analysis-trigger",
  "tags": [{"id": "aoms", "name": "AOMS"}]
}
