main-server/n8n-workflows/WF12-aggregation-collection-setup.json
{
  "name": "WF12: 집계 Qdrant 컬렉션 초기 설정 (일회성)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "setup-aggregation-collections",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf12-node-01",
      "name": "초기화 웹훅",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wf12-setup-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOG_ANALYZER_URL || 'http://log-analyzer:8000' }}/aggregation/collections/setup",
        "options": { "timeout": 30000 }
      },
      "id": "wf12-node-02",
      "name": "log-analyzer: 집계 컬렉션 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nreturn [{ json: { status: 'completed', collections: result.created || result, message: '집계 Qdrant 컬렉션 초기화 완료' } }];\n"
      },
      "id": "wf12-node-03",
      "name": "결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "wf12-node-04",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "초기화 웹훅": {
      "main": [[{ "node": "log-analyzer: 집계 컬렉션 생성", "type": "main", "index": 0 }]]
    },
    "log-analyzer: 집계 컬렉션 생성": {
      "main": [[{ "node": "결과 정리", "type": "main", "index": 0 }]]
    },
    "결과 정리": {
      "main": [[{ "node": "응답 반환", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["synapse", "setup", "admin"]
}
