main-server/n8n-workflows/WF2-metric-vector-search.json
{
  "name": "WF2: 메트릭 이상 벡터 검색",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "metric-alert",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "wf2-node-01",
      "name": "Alertmanager Webhook 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wf2-webhook-metric-alert"
    },
    {
      "parameters": {
        "jsCode": "// Alertmanager가 보내는 alerts[] 배열에서 firing 상태 알림만 추출\nconst payload = $input.first().json.body || $input.first().json;\nconst alerts = payload.alerts || [];\n\nconst firingAlerts = alerts.filter(a => a.status === 'firing');\n\nif (firingAlerts.length === 0) {\n  return [{ json: { skip: true, reason: 'no firing alerts' } }];\n}\n\n// 첫 번째 firing 알림 처리 (복수 알림은 각각 처리 권장)\nconst alert = firingAlerts[0];\nconst labels = alert.labels || {};\nconst annotations = alert.annotations || {};\n\nreturn [{\n  json: {\n    skip: false,\n    system_name: labels.system_name || labels.job || 'unknown',\n    instance_role: labels.instance_role || labels.instance || '',\n    alertname: labels.alertname || 'UnknownAlert',\n    labels: labels,\n    annotations: annotations\n  }\n}];"
      },
      "id": "wf2-node-02",
      "name": "알림 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "wf2-cond-01",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf2-node-03",
      "name": "스킵 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {},
      "id": "wf2-node-04",
      "name": "스킵 종료",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOG_ANALYZER_URL }}/metric/similarity",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ system_name: $json.system_name, instance_role: $json.instance_role, alertname: $json.alertname, labels: $json.labels, annotations: $json.annotations }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "wf2-node-05",
      "name": "메트릭 유사도 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "wf2-cond-02",
              "leftValue": "={{ $json.type }}",
              "rightValue": "duplicate",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf2-node-06",
      "name": "중복 알림 필터",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const similarity = $input.first().json;\nconst alertname = $('알림 파싱').first().json.alertname;\nconst systemName = $('알림 파싱').first().json.system_name;\n\nconst typeLabel = {\n  'new':       '🆕 신규 이상',\n  'related':   '🔗 유사 이상',\n  'recurring': '🔁 반복 이상',\n  'duplicate': '🔄 중복 이상'\n}[similarity.type] || similarity.type;\n\nconst score = similarity.score ? `${(similarity.score * 100).toFixed(1)}%` : 'N/A';\nconst hasSolution = similarity.has_solution ? '✅ 있음' : '❌ 없음';\n\n// 상위 유사 이력 fact 생성\nconst topResults = (similarity.top_results || []).slice(0, 2).map((r, i) => ({\n  title: `유사 이력 ${i + 1}`,\n  value: `${r.alertname || r.system_name || '?'} (${((r.score || 0) * 100).toFixed(1)}%)`\n}));\n\nreturn [{\n  json: {\n    type: 'message',\n    attachments: [{\n      contentType: 'application/vnd.microsoft.card.adaptive',\n      content: {\n        type: 'AdaptiveCard',\n        version: '1.4',\n        body: [\n          {\n            type: 'TextBlock',\n            text: `📊 메트릭 이상 분석 — ${systemName}`,\n            weight: 'Bolder',\n            size: 'Medium'\n          },\n          {\n            type: 'FactSet',\n            facts: [\n              { title: '알림명', value: alertname },\n              { title: '분류', value: typeLabel },\n              { title: '유사도', value: score },\n              { title: '해결책', value: hasSolution },\n              ...topResults\n            ]\n          }\n        ]\n      }\n    }]\n  }\n}];"
      },
      "id": "wf2-node-07",
      "name": "분석 결과 카드 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "wf2-node-08",
      "name": "Teams 분석 결과 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {},
      "id": "wf2-node-09",
      "name": "중복 스킵",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 520]
    }
  ],
  "pinData": {},
  "connections": {
    "Alertmanager Webhook 수신": {
      "main": [
        [{"node": "알림 파싱", "type": "main", "index": 0}]
      ]
    },
    "알림 파싱": {
      "main": [
        [{"node": "스킵 여부 확인", "type": "main", "index": 0}]
      ]
    },
    "스킵 여부 확인": {
      "main": [
        [{"node": "스킵 종료", "type": "main", "index": 0}],
        [{"node": "메트릭 유사도 분석", "type": "main", "index": 0}]
      ]
    },
    "메트릭 유사도 분석": {
      "main": [
        [{"node": "중복 알림 필터", "type": "main", "index": 0}]
      ]
    },
    "중복 알림 필터": {
      "main": [
        [{"node": "분석 결과 카드 생성", "type": "main", "index": 0}],
        [{"node": "중복 스킵", "type": "main", "index": 0}]
      ]
    },
    "분석 결과 카드 생성": {
      "main": [
        [{"node": "Teams 분석 결과 알림", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "wf2-v1",
  "meta": { "instanceId": "local" },
  "id": "wf2-metric-vector-search",
  "tags": [{"id": "aoms", "name": "AOMS"}]
}
