main-server/n8n-workflows/WF3-feedback-processing.json
{
  "name": "WF3: 피드백 등록 처리",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf3-node-01",
      "name": "피드백 Webhook 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wf3-webhook-feedback"
    },
    {
      "parameters": {
        "jsCode": "// application/x-www-form-urlencoded 또는 JSON 파싱\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst alertId   = parseInt(body.alert_id  || '0', 10);\nconst system    = String(body.system      || '');\nconst pointId   = String(body.point_id    || '');\nconst errorType = String(body.error_type  || '기타');\nconst solution  = String(body.solution    || '');\nconst resolver  = String(body.resolver    || '');\n\nif (!solution || !resolver) {\n  throw new Error('solution과 resolver는 필수입니다.');\n}\n\nreturn [{\n  json: { alertId, system, pointId, errorType, solution, resolver }\n}];"
      },
      "id": "wf3-node-02",
      "name": "폼 데이터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ah.id, ah.system_id, ah.qdrant_point_id,\n  CASE WHEN ah.alert_type IN ('metric', 'metric_resolved') THEN 'metric_baselines' ELSE 'log_incidents' END as qdrant_collection\nFROM alert_history ah\nWHERE ah.id = {{ $json.alertId }}\nLIMIT 1;",
        "options": {}
      },
      "id": "wf3-node-03",
      "name": "알림 이력 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-synapse",
          "name": "Synapse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alert_feedback (system_id, alert_history_id, error_type, solution, resolver)\nVALUES (\n  {{ $('알림 이력 조회').first().json.system_id || 'NULL' }},\n  {{ $('폼 데이터 파싱').first().json.alertId || 'NULL' }},\n  '{{ $('폼 데이터 파싱').first().json.errorType.replace(/'/g, \"''\") }}',\n  '{{ $('폼 데이터 파싱').first().json.solution.replace(/'/g, \"''\") }}',\n  '{{ $('폼 데이터 파싱').first().json.resolver.replace(/'/g, \"''\") }}'\n)\nRETURNING id, created_at;",
        "options": {}
      },
      "id": "wf3-node-04",
      "name": "피드백 DB 저장",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-synapse",
          "name": "Synapse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf3-cond-01",
              "leftValue": "={{ $('알림 이력 조회').first().json.qdrant_point_id || $('폼 데이터 파싱').first().json.pointId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "name": "filter.operator.isNotEmpty",
                "description": "is not empty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf3-node-05",
      "name": "Qdrant point 있는지 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.EMBED_MODEL || 'bge-m3', input: $('폼 데이터 파싱').first().json.solution }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "wf3-node-06",
      "name": "해결책 임베딩",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.QDRANT_URL }}/collections/{{ $('알림 이력 조회').first().json.qdrant_collection || 'log_incidents' }}/points/payload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ payload: { resolution: $('폼 데이터 파싱').first().json.solution, resolver: $('폼 데이터 파싱').first().json.resolver, error_type: $('폼 데이터 파싱').first().json.errorType, resolved_at: new Date().toISOString() }, points: [$('알림 이력 조회').first().json.qdrant_point_id || $('폼 데이터 파싱').first().json.pointId] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "wf3-node-07",
      "name": "Qdrant 해결책 업데이트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('폼 데이터 파싱').first().json;\n\nreturn [{\n  json: {\n    type: 'message',\n    attachments: [{\n      contentType: 'application/vnd.microsoft.card.adaptive',\n      content: {\n        type: 'AdaptiveCard',\n        version: '1.4',\n        body: [\n          {\n            type: 'TextBlock',\n            text: '✅ 장애 해결책 등록 완료',\n            weight: 'Bolder',\n            size: 'Medium',\n            color: 'Good'\n          },\n          {\n            type: 'FactSet',\n            facts: [\n              { title: '시스템', value: parsed.system || '알 수 없음' },\n              { title: '장애 유형', value: parsed.errorType },\n              { title: '처리자', value: parsed.resolver },\n              { title: '해결 내용', value: parsed.solution.substring(0, 100) + (parsed.solution.length > 100 ? '...' : '') },\n              { title: '등록 시각', value: new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'}) }\n            ]\n          }\n        ]\n      }\n    }]\n  }\n}];"
      },
      "id": "wf3-node-08",
      "name": "완료 알림 카드 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "wf3-node-09",
      "name": "Teams 피드백 완료 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok', message: '피드백이 등록되었습니다.'}) }}"
      },
      "id": "wf3-node-10",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "피드백 Webhook 수신": {
      "main": [
        [
          {
            "node": "폼 데이터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "폼 데이터 파싱": {
      "main": [
        [
          {
            "node": "알림 이력 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "알림 이력 조회": {
      "main": [
        [
          {
            "node": "피드백 DB 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "피드백 DB 저장": {
      "main": [
        [
          {
            "node": "Qdrant point 있는지 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant point 있는지 확인": {
      "main": [
        [
          {
            "node": "해결책 임베딩",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "완료 알림 카드 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "해결책 임베딩": {
      "main": [
        [
          {
            "node": "Qdrant 해결책 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant 해결책 업데이트": {
      "main": [
        [
          {
            "node": "완료 알림 카드 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 알림 카드 생성": {
      "main": [
        [
          {
            "node": "Teams 피드백 완료 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teams 피드백 완료 알림": {
      "main": [
        [
          {
            "node": "응답 반환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "wf3-v1",
  "meta": {
    "instanceId": "local"
  },
  "id": "wf3-feedback-processing",
  "tags": [
    {
      "id": "synapse",
      "name": "Synapse"
    }
  ]
}