main-server/n8n-workflows/WF6-hourly-metric-aggregation.json
{
  "name": "WF6: 1시간 메트릭 집계",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 * * * *"
            }
          ]
        }
      },
      "id": "wf6-node-01",
      "name": "매 시간 :05분 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOG_ANALYZER_URL || 'http://log-analyzer:8000' }}/aggregation/hourly/trigger",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "wf6-node-02",
      "name": "log-analyzer 집계 트리거",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf6-cond-01",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "triggered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf6-node-03",
      "name": "트리거 성공 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {},
      "id": "wf6-node-04",
      "name": "정상 종료",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {},
      "id": "wf6-node-05",
      "name": "이미 실행 중",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        360
      ]
    }
  ],
  "connections": {
    "매 시간 :05분 트리거": {
      "main": [
        [
          {
            "node": "log-analyzer 집계 트리거",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log-analyzer 집계 트리거": {
      "main": [
        [
          {
            "node": "트리거 성공 여부 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "트리거 성공 여부 확인": {
      "main": [
        [
          {
            "node": "정상 종료",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "이미 실행 중",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}